{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div style="text-align:center;">
        <form action="/create_entry/" method="POST" novalidate onkeydown="if(event.keyCode==13)return false;">
            {% for form in form_obj %}
            <div>
                {{ form }}
                <span>{{ form.errors.0 }}</span>
            </div>
            {% endfor %}
            <div>
                <input type="submit">
            </div>
        </form>
    </div>

{% endblock %}
